@import "~bootstrap/scss/bootstrap";
@import "partials/variables";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Poppins|Raleway:400,600');
* {
    font-family: $textFont;
    font-weight: 200;
    color: $grayFont;
}

html {
    scroll-behavior: smooth;
}

// HEADER.
.header {
    // width: 100%;
    min-height: 1060px;
    background-image: url(static/shape.png);
    background-repeat: no-repeat;
    background-position: 70% 100%;
    background-size: cover;
    @media (max-width: 767.98px) {
        padding-bottom: 80px;
    } // NAVBAR.
    .navbar {
        .navbar-toggler {
            border: none;
            outline: none;
        }
        min-height: 100px;
        padding-top: 50px;
        &-brand {
            font-size: rem-calc(34px);
            font-weight: 600;
        }
        .btn-fixed {
            width: 190px;
            height: 60px;
            background-color: $whiteColor;
            border-radius: em-calc(70px);
            font-family: $headingFont;
            font-weight: 400;
            font-size: rem-calc(22px);
            color: $blueFont;
        }
        .nav-link {
            font-size: rem-calc(20px);
        }
    } // BANNER.
    .banner {
        min-height: 900px;
        width: 100%;
        @media (max-width: 767.98px) {
            margin-bottom: 30px;
        }
        .container {
            min-height: 900px;
        }
        .row {
            min-height: 900px;
        }
        &__left {
            @media (max-width: 767.98px) {
                text-align: center;
            }
            img {
                width: auto;
                height: auto;
                max-width: 100%;
            }
        }
        &__right {
            @media (max-width: 767.98px) {
                text-align: center !important;
                padding: 70px 20px;
            }
            h1 {
                font-family: $headingFont;
                color: $whiteColor;
                font-size: rem-calc(46px);
                font-weight: 600;
                @media (max-width: 767.98px) {
                    font-size: rem-calc(38px);
                }
            }
            p {
                color: $whiteColor;
                font-size: rem-calc(20px);
            }
            .icons {
                @media (max-width: 510px) {
                    flex-direction: column !important;
                    justify-content: center;
                    align-items: center;
                }
                .icon {
                    cursor: pointer;
                    width: 230px;
                    height: 85px;
                    background-color: $darkColor;
                    border-radius: 50px;
                    .left {
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    .right {
                        p:first-child() {
                            font-size: rem-calc(13px);
                        }
                        p:nth-child(2) {
                            font-size: rem-calc(19px);
                        }
                    }
                }
                .icon--fixed {
                    @media (max-width: 510px) {
                        margin-right: 0 !important;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

// ABOUT ME.
.about-me {
    min-height: 800px;
    @media (max-width: 767.98px) {
        margin-bottom: 70px;
        margin-top: 70px;
    }
    .fixed-width {
        max-width: 750px;
    }
    .container {
        min-height: 800px;
        .row {
            .col-md-4 {
                height: 390px;
                .shadowx {
                    box-shadow: 0 0 13px #ccc;
                    width: 100%;
                    height: 100%;
                }
                h3 {
                    font-size: rem-calc(24px);
                    font-family: $headingFont;
                }
                p {
                    font-size: rem-calc(16px);
                    line-height: 28px;
                }
            }
            .square {
                transform: rotate(45deg);
                width: 60px;
                height: 60px;
                background-color: $lightGrayColor;
                svg {
                    width: 35px;
                    transform: rotate(-45deg);
                }
                .svg {
                    fill: $blueFont;
                }
                .svg-3 {
                    width: 30px;
                }
                .svg-2 {
                    width: 30px;
                }
            }
        }
    }
}

// FEATURES.
.features {
    min-height: 1320px;
    background-image: url(static/shape2.png);
    background-repeat: no-repeat;
    background-position: 70% 100%;
    background-size: cover;
    .container {
        min-height: 1320px;
        @media (max-width: 575.98px) {
            padding-bottom: 100px;
        }
        h1 {
            font-family: $headingFont;
            font-size: rem-calc(36px);
            font-weight: 400;
            padding-top: 90px;
        }
        p {
            max-width: 930px;
            font-size: rem-calc(20px); // font-weight: 400;
        }
        .row {
            min-height: 750px;
            img {
                width: auto;
                height: auto;
                max-width: 100%;
            }
            .list-item {
                .row {
                    min-height: auto;
                }
                .radius {
                    width: 80px;
                    height: 80px;
                    background-color: $whiteColor;
                    border-radius: 50%;
                    img {
                        width: 40px;
                    }
                }
                h1 {
                    font-family: $headingFont;
                    font-size: rem-calc(20px);
                    font-weight: 400;
                    padding-top: 0;
                }
                p {
                    font-size: rem-calc(16px);
                    max-width: auto;
                    line-height: 30px;
                }
            }
        }
        .fixed-padding {
            @media (max-width: 1199.98px) {
                padding-left: 0;
            }
            @media (max-width: 575.98px) {
                padding-left: 15px;
                padding-bottom: 10px;
            }
        }
    }
}

// PRICING.
.pricing {
    min-height: 965px;
    background-color: $grayBg;
    @media (max-width: 991.98px) {
        padding-bottom: 40px;
    }
    .container {
        min-height: 965px;
        h1 {
            font-family: $headingFont;
            font-size: rem-calc(36px);
        }
        .card-deck--fixed {
            min-height: 507px;
            @media (max-width: 991.98px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .card {
            @media (max-width: 991.98px) {
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;
                max-width: 100%;
            }
            flex: 1;
            max-height: 507px;
            border-radius: 10px;
            border: 2px solid $blueBg;
            background-color: transparent;
            box-shadow: 0 0 13px #ccc inset;
        }
        .card-body {
            img {
                max-width: 20px;
            }
            h2 {
                font-size: rem-calc(24px);
                font-family: $headingFont;
            }
            h1 {
                font-size: rem-calc(36px);
                color: $blueFont;
            }
            .btn {
                width: 100%;
                max-width: 200px;
                height: 54px;
                border-radius: 25px;
                border: 2px solid $blueBg;
                font-weight: bold;
                &:hover {
                    background-color: $blueBg;
                }
            }
        }
        .card--fixed {
            height: 557px;
            max-height: 557px;
            margin: -25px 10px 0 10px;
            box-shadow: 0 0 0;
            border: 0px solid $blueBg;
            background-image: linear-gradient(to right, #1c64db, #3675e3, #4b85eb, #5f96f2, #73a6f8);
            @media (max-width: 991.98px) {
                margin: 0;
            }
            h1 {
                color: #fff;
            }
            h2 {
                color: #fff;
            }
            p {
                color: #fff;
            }
            .btn {
                background-color: #fff;
                border: 2px solid #fff;
                &:hover {
                    background-color: #fff;
                    color: $blueBg;
                }
            }
        }
    }
    &__paragraph {
        max-width: 923px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 110px;
        @media (max-width: 991.98px) {
            margin-bottom: 40px;
        }
    }
}

// CAROUSEL.
.carousel {
    min-height: 550px;
    .container {
        min-height: 120px;
        p {
            margin-bottom: 80px;
        }
    }
    .owl-nav {
        text-align: center;
    }
    .owl-prev {
        margin-top: 30px;
        width: 50px;
        height: 50px;
        background-color: $blueBg !important;
        color: #fff !important;
        border-radius: 50%;
        margin-right: 40px;
        outline: none;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 15px;
            font-size: 3rem;
            margin-top: -4px;
            color: #fff !important;
        }
    }
    .owl-next {
        width: 50px;
        height: 50px;
        background-color: $blueBg !important;
        color: #fff !important;
        border-radius: 50%;
        outline: none;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 15px;
            font-size: 3rem;
            margin-top: -4px;
            color: #fff !important;
        }
    }
}

// CONTACT.
.contact {
    min-height: 715px;
    background-color: $grayBg;
    @media (max-width: 767.98px) {
        padding: 40px 0 110px 0;
    }
    .container {
        min-height: 715px;
        .row {
            @media (max-width: 575.98px) {
                padding: 0 20px;
            }
        }
        .col-md-10 {
            @media (max-width: 767.98px) {
                text-align: center !important;
            }
        }
        h1 {
            font-family: $fixedFont;
            font-weight: 600;
            font-size: rem-calc(38px);
        }
        .line {
            height: 3px;
            background-color: $blueBg;
            width: 70px;
        }
        .left-col {
            min-height: 315px;
            background-color: #fff;
            @media (max-width: 767.98px) {
                padding-top: 20px;
            }
        }
        .right-col {
            min-height: 315px;
            @media (max-width: 767.98px) {
                margin-top: 30px;
                padding-left: 0;
                padding-right: 0;
            }
        }
        .form-control {
            border: 0;
        }
        .textarea {
            resize: none;
        }
        .btn-fixed {
            position: absolute;
            left: 15px;
            bottom: -60px;
            @media (max-width: 767.98px) {
                left: 0;
            }
        }
    }
    &__paragraph {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
    &__img {
        max-width: 20px;
    }
}

// MAP.
.map {
    margin-bottom: -8px;
    iframe {
        width: 100%;
    }
}

// FOOTER.
.footer {
    min-height: 270px;
    background-color: $darkBlueBg;
    @media (max-width: 520px) {
        padding: 30px 0;
    }
    .container {
        min-height: 270px;
        img {
            width: 40px;
            height: 40px;
        }
        svg {
            fill: white;
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
        .col-lg-6 {
            @media (max-width: 991.98px) {
                display: flex;
                justify-content: center;
                margin: 10px 0;
            }
            @media (max-width: 520px) {
                text-align: center;
            }
        }
        .fixed-column {
            @media (max-width: 520px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}