// FONT.
$headingFont: 'Montserrat',
sans-serif;
$textFont: 'Poppins',
sans-serif;
// COLORS.
$whiteColor: #fff;
$grayFont: #686868;
$lightGrayColor: #f3f5f8;
$blueFont: #73a6f8;
$blueBg: #1c64db;
$darkBlueBg: #13253b;
$darkColor: #22233a;